body {
    background: powderblue;
    font: normal 15pt Arial;
}

header {
    text-align: center;
    color: purple;
}

div {
    text-align: center;
}

#botao {
    padding: 10px;
    font: normal 20px Arial;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 363);
}

footer {
    margin-top: 20px;
    text-align: center;
    color: purple;
    font-style: italic;
}